body{
  font-family: "Comfortaa",serif;
}
.parent{
  position: relative;
  border:1px black solid;
  background-color:black;
  height: 100vh;
  overflow: hidden;
  color:white ;
  display: flex;
  align-items: center;
}
.solid-circle{
  height: 750px;
  width:750px;
  background:#F97316;
  border-radius: 50%;
  position: absolute;
  right:-375px;
  top:-120px;
  z-index: 1;
}

.header-home{
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index:2;
  width: 100%;
  top: 10px;
  padding: 0px 25px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #F97316;
}
#click-here-btn{
  background-color: black;
  color:#F97316;
  font-weight: 600;
  box-shadow: 0px 4px 4px rgb(241, 169, 96);
  font-family: Arial, Helvetica, sans-serif;
}
#Name{
  color:#F97316 ;
  font-size: 90px;
}
.form-floating{
  box-shadow: 2px 2px 2px orange;
  border-radius: 8px;
}
#login-button{
  background:#F97316 ;
  color: black;
  padding: 5px 25px;
}
.main-content{
  margin-left: 35px;
}