body{
  font-family: "Comfortaa",serif;
  background-color:white;
}
.header{
  display: flex;
  background:black;
  color:#F97316;
  padding-left: 25px;
  font-size: xx-large;
}
#resetBtn{
    background-color: #F97316;
    height: 30px;
    margin-top: 40px;
    margin-left: 450px;
    font-size: medium;
    font-weight: 600;
    border-radius: 8px;
    box-shadow: 0px 2px 2px orange;
    border: none;
}
.input-form{
  display:flex;
  border: 1px black solid;
  justify-content: space-around;
  width: 95%;
  margin: auto;
  border-radius: 8px;
  box-shadow: 0px 0px 10px #F97316;
  margin-top: 20px;
  padding: 25px 0px;
}
.form-floating
{
padding-left: 5px;
}
#add-button{
  background:#F97316 ;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: x-large;
  font-weight: 600px;
}
.inputs{
  width: 40%;
}
.cards{
  display: flex;
  width: 95%;
  margin: auto;
  justify-content: space-between;

}
.card{
  background-color: black;
  border: 0px;
  color: #F97316;
  margin-left: 10px;
}
.card-text{
  font-size: 40px;
}
.transaction-table{
   margin-top: 20px;
   margin-left: 25px;
  border: 1px black solid;
  width: 95%;
  border-radius: 8px;
  overflow: hidden;
  font-weight: 700px;
  box-shadow: 0px 4px 4px #F97316;
  padding: 0px;
}
#header-row{
  background-color: black;
}
#header-row th{
  padding: 15px 10px;
  color: #F97316;
}
.delete-btn{
  background-color: red;
}